body {
  max-width: 60em;
  margin: auto;
  background-color: #993300;
}

#intro
.inline-block {
border-radius: 25px;
color: #996600;
  list-style: none;
  text-align: center;
  background: none;
  padding-left: 0;
  border: 0px solid #ffcc66;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 3px solid #ffcc66;
}

.inline-block li {
  display: inline-block;
  width: 30%;
  text-align: center;
  background: #ffff99;
  
  }

#title  {
border-radius: 25px;
  color: #996600;
  font-size: 2em;
  font-family: "Book Antiqua";
  text-align: center;
  background-color: #ffffcc;
  padding: 1em; /*  1em  =  16px  */
  border-width: 0px;
  border-style: solid;
  border-color: #ffcc66;
  border: 0px solid #ffcc66;
  border-top:  0em solid #ffcc66;
  margin: 1em 0;
}


#ingredients 
 {
 border-radius: 25px;
 color: #996600;
  text-align: left;
  background-color: #ffff99;
  padding: 1em; /*  1em  =  16px  */
  border-width: 0px;
  border-style: solid;
  border-color: #ffcc66;
  border: 0px solid #ffcc66;
  border-top:  0em solid #ffcc66;
  margin: 1em 0;
}

#directions 
{
border-radius: 25px;
  color: #996600;
  text-align: left;
  background-color: #ffff99;
  padding: 1em; /*  1em  =  16px  */
  border-width: 0px;
  border-style: solid;
  border-color: #ffcc66;
  border: 0px solid #ffcc66;
  border-top:  0em solid #ffcc66;
  margin: 1em 0;
}


#ingredients p {
  margin-top: .5em;
  margin-bottom: .5em;
}

#directions li{
color: #996600;
  padding:  1em 0;
  border-top: 1px solid #996600;
}

@media (min-width: 60em) {
  
  .info {
    float: left;
    width: 45%;
  }
  
  
}




